@model CricketBooking.Models.venue

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class=" bg-white" ">
    <h4>location Details</h4>
    <hr />
    <dl class="dl-horizontal  ">
        <dt>
            @Html.DisplayNameFor(model => model.slname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.slname)
        </dd>

    </dl>
        <dt>
            @Html.DisplayNameFor(model => model.sname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sname)
        </dd>

    

    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.iId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>
